.create-event {
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-form-container {
  padding-top: 2rem;
  max-width: 500px;
  flex-grow: 1;
  text-align: center;
}

.radios > label {
  margin-right: 1rem;
}

.create-form-container button {
  margin-top: 1rem;
  padding: .75rem 3rem !important;
  border-radius: 1.4rem !important;
  font-size: 1rem;
  background: linear-gradient(253deg, rgba(255,176,176,1) 15%, rgba(246,220,164,1) 100%);
  font-family: var(--main-fonts);
  font-size: .95rem;
}

.create-form-container button:hover {
  opacity: .75;
}